title: 능곡의 자연예술 에세이
email: geojeart@daum.net
description: |
  자연예술가이자 시조시인으로 활동 중인 능곡 이성보 에세이
baseurl: ''
url: 'http://geojeart.com'
timezone: Asia/Seoul 

repository: creamian/creamian.github.io

permalink: /:year/:month/:day/:title/

excerpt_separator: <!--more-->

markdown: kramdown

krandown:
  input: GFM
  highlighter: rouge

plugins:
  - jekyll-paginate

paginate: 5
paginate_path: '/page/:num/'

collections:
  authors:
    output: true
    permalink: /authors/:path/
  tags:
    output: true
    permalink: /tags/:path/

defaults:
  - scope:
      path: ''
      type: authors
    values:
      layout: author
  - scope:
      path: ''
      type: tags
    values:
      layout: tag

exclude: [README.md, Gemfile, Gemfile.lock]

keep_files: [assets, files]
github: [metadata]
# iolo's custom
author: opensource@kakaocorp.com
image: '/assets/images/default_blog_cover.jpg'
asset_url: /assets
#asset_url: //meta-kage.kakaocdn.net/dn/osa/blog/assets
#asset_url: //t1.daumcdn.net/osa/blog/assets
google_analytics:
  ua: 'UA-72007721-1'
facebook:
  app_id: '1204347326263800'
  username: nkakao
twitter:
  username: kakaodev
google_plus:
  username: kakaodev
github_url:
  username: kakao
